@import "_bootstrap.min";
@import "../components/report-details/_style";
@import "../components/existing-reports/_style";
@import "../components/main-menu/_style";
@import "../components/edit-categories/_style";
@import "_font-awesome.min";

body {
    height: 100vh;
    .back-button {
        padding: 1em;
        background-color: #676767;
        color: white;
        font-weight: bold;
        &:hover {
            background-color: darkred;
        }
    }
}